div.acompanhamento {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 40px;
    grid-template-areas:
        "header"
        "body"
        "footer";
}

header.headerAcompanhamento {
    grid-area: header;
}

div.bodyAcompanhamento {
    grid-area: body;
}

footer.footerLindo {
    grid-area: footer;
}